# Copy this file to `.env` and fill in the URL of your deployed license worker
# (see Piece 3). When this is empty, the app falls back to the demo key
# PRO-DEMO-2026 so it still works during local development.
VITE_LICENSE_URL=
